{% extends 'charts/chart_with_form.html' %}
{% block params %}
<div class="form-horizontal">

</div>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        function getURL() {
            return "regions/" + getSelectedRegions() +
                    "/from_year/" + $("#fromYear").val() +
                    "/to_year/" + $("#toYear").val() +
                    "/chart_type/" + $("#chartType").val() +
                    "/trend_type/" + $("#trendType").val() +
                    "/stat_type/" + $("#statType").val() +
                    "/scale_type/" + $("#scaleType").val();
        }
        function callShow() {
            show(function(data) {
                drawWithParameters({
                    chartObject: chart,
                    chartDiv: 'chart',
                    chartTypeName: data.chart_type,
                    data: data.chart_data,
                    title: data.chart_title,
                    hAxisTitle: data.xAxis_title,
                    vAxisTitle: data.yAxis_title,
                    trendType: data.trend_type,
                    trendNumber: data.chart_data[0].length - 1
                });
                $("#url").text(getFullURL(getURL()));
            })
        }
    </script>
{% endblock %}