{% extends 'charts/chart_with_form.html' %}
{% block params %}
<div class="form-horizontal">
    <fieldset>
        {% include 'region_and_period.html' %}
        <div class="form-group">
            <label class="col-md-4 control-label" for="showButton"></label>
            <div class="col-md-4">
                <button id="showButton" class="btn btn-primary ladda-button" data-style="zoom-out" onclick="callShow()">
                    <span class="ladda-label">Show</span>
                </button>
            </div>
        </div>
    </fieldset>
</div>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        function getURL() {
            return "regions/" + getSelectedRegions() +
                    "/from_year/" + $("#fromYear").val() +
                    "/to_year/" + $("#toYear").val();
        }
        function callShow() {
            show(function(data) {
                drawWithParameters({
                    chartObject: chart,
                    chartDiv: 'chart',
                    chartTypeName: 'bubble',
                    data: data.chart_data,
                    hValueIndex: 1,
                    vValueIndex: 2,
                    title: data.chart_title,
                    hAxisTitle: data.xAxis_title,
                    vAxisTitle: data.yAxis_title
                });
                $("#url").text(getFullURL(getURL()));
            });
            return false;
        }
    </script>
{% endblock %}

