{% extends 'charts/chart_with_form.html' %}
{% block params %}
<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" for="region_selector">Регионы</label>
            <div class="col-md-8">
                <select id='region_selector' data-placeholder="Выберите регион" style="width:350px;" class="chosen-select form-control" multiple tabindex="6">
                    {% for region in regions %}
                        <option>{{ region.offset|safe }} {{ region.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="period">Период</label>
            <div id='period' class="col-md-8">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="fromYear">С</label>
                        <div class="col-md-3" style="width: 80%">
                            <select id="fromYear" class="form-control">
                            {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="toYear">По</label>
                        <div class="col-md-3" style="width: 80%">
                            <select id="toYear" class="form-control">
                            {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="showButton"></label>
            <div class="col-md-4">
                <button id="showButton" class="btn btn-primary ladda-button" data-style="zoom-out" onclick="show()">
                    <span class="ladda-label">Show</span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        var chart = new google.visualization.BubbleChart(document.getElementById('chart'));
        function getURLToPlot() {
            return "plot/regions/" + getSelectedRegions() + "/from_year/" + $("#fromYear").val() +
                    "/to_year/" + $("#toYear").val();
        }
        function show() {
            startLoadAnimation();
            $.ajax({
                url: getURLToPlot(),
                dataType: "json"
            })
            .success(function(data) {
                    var options = {
                        title: data.chart_title,
                        hAxis: {title: data.hAxis_title},
                        vAxis: {title: data.vAxis_title},
                        bubble: {textStyle: {fontSize: 12}}
                    };
                    chart.draw(google.visualization.arrayToDataTable(data.chart_data), options);
            })
            .fail(function() {
                    alert("Connection with server is lost")
            })
            .always(function() {
                    stopLoadAnimation();
            });
        }
    </script>
{% endblock %}

