{% extends 'default_page.html' %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ chart_title }}</h1>
        </div>
        <div class="page-header">
            <h2>{{ parameters_title }}</h2>
        </div>

    {% block params %}{% endblock %}

        <div id="chart" style="width: 100%; height: 600px;"></div>

        <div id="hidden">
            <div class="page-header">
                <h2>{{ info_header }}</h2>
            </div>
            <div id="info"></div>
            {% block url %}{% endblock %}
        </div>
    </div>
{% endblock %}