
    <div class="form-group">
        <label class="col-md-4 control-label" for="region_selector">Регионы</label>

        <div class="col-md-4">
            <select id='region_selector' data-placeholder="Выберите регион" class="chosen-select form-control" multiple
                    tabindex="6">
                {% for region in regions %}
                    <option>{{ region.offset|safe }} {{ region.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="period">Период</label>

        <div id='period' class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fromYear">С</label>

                    <div class="col-md-4">
                        <select id="fromYear" class="form-control"
                                onchange="fillYears('toYear', this.value, {{ to_year }})"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="toYear">По</label>

                    <div class="col-md-4">
                        <select id="toYear" class="form-control"
                                onchange="fillYears('fromYear', {{ from_year }}, this.value)"></select>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
