{% extends 'charts/chart_with_form.html' %}
{% block params %}
<div class="form-horizontal">
    <fieldset>
        {% include 'region_and_period.html' %}
        <div class="form-group">
            <label class="col-md-4 control-label" for="statType">Observed value</label>
            <div class="col-md-4">
                <select id="statType" class="form-control">
                    {% for stat_type in stat_types %}
                        <option value="{{ stat_type.0 }}">{{ stat_type.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="showButton"></label>
            <div class="col-md-4">
                <button id="showButton" class="btn btn-primary ladda-button" data-style="zoom-out" onclick="callShow()">
                    <span class="ladda-label">Show</span>
                </button>
            </div>
        </div>
    </fieldset>
</div>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        function getURL() {
            return "regions/" + getSelectedRegions() +
                    "/stat_type/" + $("#statType").val() +
                    "/from_year/" + $("#fromYear").val() +
                    "/to_year/" + $("#toYear").val();
        }
        function callShow() {
            show(function(data) {
                drawWithParameters({
                    chartObject: chart,
                    chartDiv: 'chart',
                    chartTypeName: 'pie',
                    data: data.chart_data,
                    title: data.chart_title
                });
                $("#url").text(getFullURL(getURL()));
            });
        }
    </script>
{% endblock %}