{% load staticfiles %}
<script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart','table', 'sankey']}]}" type="text/javascript"></script>
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script src="{% static 'RoadAccidentStatistics/js/jquery-2.1.0.js' %}" type="text/javascript"></script>
<script src="{% static 'RoadAccidentStatistics/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'RoadAccidentStatistics/js/chosen.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'RoadAccidentStatistics/js/chart.draw.functions.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    var chart, info;
    $(document).ready(function(){
        $('.chosen-select').chosen().change(function() {
            $('.search-choice span').each(function() {
                $(this).text($(this).text().trim());
            });
        });
    });
    function getSelectedRegions(){
        var a = [];
        $('.search-choice span').each(function() {
                a[a.length] = $(this).text();
        });
        if(a.length == 0) alert($('#region_selector').attr('data-placeholder'));
        return a;
    }
    function getFullURL(url) {
        var i = document.URL.indexOf('?');
        return (i < 0 ? document.URL : document.URL.substr(0, i)) + url;
    }
    function show(success) {
        startLoadAnimation();
        $.ajax({
            url: getURL() + "/data",
            timeout:10000,
            dataType: "json"
        })
        .success(success)
        .fail(function() {
                //alert("Connection with server is lost");
        })
        .always(function() {
                stopLoadAnimation();
        });
    }
</script>