{% extends 'default_page.html' %}
{% block body %}
    {% load staticfiles %}
    <div class="container">
        <div class="jumbotron">
            <h1>{{ title }}</h1>
            <p> System "Statistics of road accident" - project of students of Software Engineering
                Department of Mathematics and Mechanics Faculty St. Petersburg State University.<br>

                <strong>Purpose of the project</strong> - to acquaint the user with the statistics of road accidents in the Russian regions,
                provide an opportunity for its visualization and comparison with statistical indicators road accidents in Finland.<br>

                On this site you can get acquainted with the road accident statistics taken from
                <a href="http://www.gibdd.ru/">Site Road Police of Russia</a> and
                <a href="http://www.stat.fi/index_en.html"> site statistics Finland </a> in a graphical and tabular format.<br>

                Here are ways to visualize the description and links to pages
             with the corresponding functionality.</p>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/finland_cmp.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Comparison of road accident statistics of the Russian Federation and Finland</h3>
                            <p style="font-size: 10pt;">A distinctive feature of this set of columnar, line and point graphs is the ability to
                                compare relative death rates, the number of deaths and injuries in road accidents in
                                the regions of Russia and Finland with an indication of the annual period.</p>
                            <p><a href="/finland_comp" class="btn btn-primary" role="button">Go to the construction</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/trend_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Graph statistics of road accidents with the trend line</h3>
                            <p style="font-size: 10pt;">This set of columnar, line and point graphs showing changes in the dynamics of such
                                annual statistical indicators in the Russian regions as the number of road accidents,
                                deaths and injuries with scaling by population and number of vehicles, as well as
                                indicating the reasons for the road accident.</p>
                            <p><a href="/trend_chart" class="btn btn-primary" role="button">Go to the construction</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/sankey_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Sankey chart of reasons of road accidents</h3>
                            <p style="font-size: 10pt;">This diagram represents one of the types of flow diagrams, in which riason of road
                                accident serve as a flow, and the line width of the observed flux depends on the kinds
                                of statistics for this reason. Parameters to visualisation the chart are the annual
                                periods, regions of the Russian Federation and observed kind of statistics (number of
                                victims, the number of injuries, the death toll, the number of road accidents).</p>
                            <p><a href="/sankey_chart" class="btn btn-primary" role="button">Go to the construction</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/pie_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Pie chart reasons of road accidents</h3>
                            <p style="font-size: 10pt;">This diagram shows the percentages between the various riasons of road accidents in
                                the Russian regions with the ability to specify the annual period and observed kinds of
                                statistics (number of victims, the number of injuries, the death toll, the number of road accidents).</p>
                            <p><a href="/pie_chart" class="btn btn-primary" role="button">Go to the construction</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/bubble_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Bubble chart</h3>
                            <p style="font-size: 10pt;">This chart shows the ratio between the number of road accidents, number of victims
                                and the population and represents a two-dimensional graph where the horizontal axis
                                is the number of accidents on the scale of 10,000 units of vehicles on the ordinate axis
                                - the number of victims per 100,000 people in the region, and the circle with the name
                                of region serve as a point on the graph, radius of circle is proportional to the
                                population of the region. Circles have a different color marking statistics for different
                                years. The parameters of the imaging digrams are annual periods and regions of the Russian Federation.</p>
                            <p><a href="/bubble_chart" class="btn btn-primary" role="button">Go to the construction</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}