<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% include 'common.css.html' %}
</head>
<body>
    {% include 'navigation.html' %}
    {% load staticfiles %}
    <div class="container">
        <div class="jumbotron">
            <h1>{{ title }}</h1>
            <p>Описание проекта</p>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/trend_chart.png' %}"/>
                        <div class="caption">
                            <h3>График статистики ДТП с трендом</h3>
                            <p style="font-size: 10pt;">Данный набор  колоночных, линейных и точечных графиков показывает в динамике изменения таких
                                годовых статистических показателей в регионах РФ как количество ДТП, число погибших и
                                раненых с возможностью масштабирования по населению и числу транспортных средств,
                                а также с указанием причины ДТП.</p>
                            <p><a href="/trend_chart" class="btn btn-primary" role="button">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/sankey_chart.png' %}"/>
                        <div class="caption">
                            <h3>Потоковая диаграмма причин ДТП</h3>
                            <p style="font-size: 10pt;">Данная диаграмма представляет собой один из видов потоковых
                                диаграмм, в котором в качестве потока выступает причина ДТП, а ширина линии потока
                                зависит от наблюдаемого вида статистики по этой причине. Параметрами для визуализации
                                диаграммы выступают годовые периоды, регионы РФ и наблюдаемый вид статистики
                                (число пострадавших, число раненых, число погибших, число ДТП).</p>
                            <p><a href="/sankey_chart" class="btn btn-primary" role="button">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/pie_chart.png' %}"/>
                        <div class="caption">
                            <h3>Круговая диаграмма причин ДТП</h3>
                            <p style="font-size: 10pt;">Данная диаграмма показывает процентные соотношения между
                                различными причинами ДТП в регионах РФ с возможностью указания годового периода и
                                наблюдаемого вида статистики(число пострадавших, число раненых, число погибших, число ДТП).</p>
                            <p><a href="/pie_chart" class="btn btn-primary" role="button">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/bubble_chart.png' %}"/>
                        <div class="caption">
                            <h3>Пузырьковая диаграмма</h3>
                            <p style="font-size: 10pt;">Данная диаграмма показывает соотношение между  количеством ДТП,
                                числом пострадавших и численностью населения и представляет собой двумерный график,
                                где на оси абсцисс лежит шкала количества ДТП на 10 тыс. единиц транспортных средств,
                                на оси ординат – число пострадавших на 100 тыс. жителей региона, а в качестве точки
                                на графике выступает круг с названием региона с радиусом, пропорциональным численности
                                населения региона. Круги имеют разные цвета, отмечающие статитистику за разные года.
                                В качестве параметров визуализации данной диграммы выступают годовые периоды и регионы РФ.</p>
                            <p><a href="/bubble_chart" class="btn btn-primary" role="button">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'common.js.html' %}
</body>
</html>