{% extends 'default_page.html' %}
{% block body %}
    {% load staticfiles %}
    {% if lang == 'ru' %}
        <div class="container">
        <div class="jumbotron">
            <h1>{{ title }}</h1>
            <p> Система <strong>«{{ title }}»</strong> – проект студентов кафедры Cистемного программирования
                Математико-механического факультета СПбГУ.<br>

                Цель проекта - познакомить пользователя со статистикой ДТП в регионах Российской Федерации,
                предоставить возможность для ее визуализации и сравнения со статистическими показателями ДТП в Финляндии.<br>

                На данном сайте Вы можете подробно ознакомиться со статистическими данными ДТП,
                взятыми с <a href="http://www.gibdd.ru/">сайта Госавтоинспекции МВД России</a> и с
                <a href="http://www.stat.fi/index_en.html">сайта статистики по Финляндии</a> в графическом и текстовом виде.<br>

                Ниже представлены способы визуализации с описанием и ссылками на страницы с
            соответствующим функционалом.</p>

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/finland_cmp.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Сравнение статистики ДТП Российской Федерации и Финляндии</h3>
                            <p style="font-size: 10pt;">Отличительной особенностью данного набора  колоночных,
                                линейных и точечных графиков является возможность сравнения относительных показателей
                                смертности, числа погибших и раненых в ДТП в регионах РФ и Финляндии с указанием годового периода.</p>
                            <p><a href="/finland_comp" class="btn btn-primary" role="button">Перейти к построению</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/trend_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>График статистики ДТП с трендом</h3>
                            <p style="font-size: 10pt;">Данный набор  колоночных, линейных и точечных графиков показывает в динамике изменения таких
                                годовых статистических показателей в регионах РФ как количество ДТП, число погибших и
                                раненых с возможностью масштабирования по населению и числу транспортных средств,
                                а также с указанием причины ДТП.</p>
                            <p><a href="/trend_chart" class="btn btn-primary" role="button">Перейти к построению</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/sankey_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Потоковая диаграмма причин ДТП</h3>
                            <p style="font-size: 10pt;">Данная диаграмма представляет собой один из видов потоковых
                                диаграмм, в котором в качестве потока выступает причина ДТП, а ширина линии потока
                                зависит от наблюдаемого вида статистики по этой причине. Параметрами для визуализации
                                диаграммы выступают годовые периоды, регионы РФ и наблюдаемый вид статистики
                                (число пострадавших, число раненых, число погибших, число ДТП).</p>
                            <p><a href="/sankey_chart" class="btn btn-primary" role="button">Перейти к построению</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/pie_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Круговая диаграмма причин ДТП</h3>
                            <p style="font-size: 10pt;">Данная диаграмма показывает процентные соотношения между
                                различными причинами ДТП в регионах РФ с возможностью указания годового периода и
                                наблюдаемого вида статистики(число пострадавших, число раненых, число погибших, число ДТП).</p>
                            <p><a href="/pie_chart" class="btn btn-primary" role="button">Перейти к построению</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/bubble_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Пузырьковая диаграмма относительной стиатистики ДТП</h3>
                            <p style="font-size: 10pt;">Данная диаграмма показывает соотношение между  количеством ДТП,
                                числом пострадавших и численностью населения и представляет собой двумерный график,
                                где на оси абсцисс лежит шкала количества ДТП на 10 тыс. единиц транспортных средств,
                                на оси ординат – число пострадавших на 100 тыс. жителей региона, а в качестве точки
                                на графике выступает круг с названием региона с радиусом, пропорциональным численности
                                населения региона. Круги имеют разные цвета, отмечающие статитистику за разные года.
                                В качестве параметров визуализации данной диграммы выступают годовые периоды и регионы РФ.</p>
                            <p><a href="/bubble_chart" class="btn btn-primary" role="button">Перейти к построению</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if lang == 'en' %}
        <div class="container">
        <div class="jumbotron">
            <h1>{{ title }}</h1>
            <p>  <strong>"{{ title }}"</strong> system is a project of Software Engineering
                department students of Mathematics and Mechanics Faculty, St. Petersburg State University.<br>

                The purpose of the project is to acquaint the user with road accidents statistics in the regions of the Russian Federation
                 and to provide an opportunity for its visualization and comparison with road accidents statistical indicators of Finland.<br>

                On this site you can get acquainted with the road accident statistics taken from
                <a href="http://www.gibdd.ru/">Russian traffic police site</a> and
                <a href="http://www.stat.fi/index_en.html">Finland statistics site</a> in a graphical and tabular format.<br>

                Methods for visualization with descriptions and references to pages with corresponding functionality are presented below.
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/finland_cmp.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Comparison of road accident statistics of the Russian Federation and Finland</h3>
                            <p style="font-size: 10pt;">A distinctive feature of this set of columnar, line and point graphs is the ability to
                                compare relative death rates, the number of deaths and injuries in road accidents in
                                the regions of Russian Federation and Finland with specification of year period.
                            </p>
                            <p><a href="/finland_comp" class="btn btn-primary" role="button">Go to construction</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/trend_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Graph of road accidents statistics with a trend line</h3>
                            <p style="font-size: 10pt;">This set of columnar, line and point graphs shows changes of such
                                year statistical indicators as the number of road accidents,
                                deaths and injuries in the regions of Russian Federation with scaling by population and number of vehicles, as well as
                                indicating reasons of road accident.
                            </p>
                            <p><a href="/trend_chart" class="btn btn-primary" role="button">Go to construction</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/sankey_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Sankey chart of road accident reasons</h3>
                            <p style="font-size: 10pt;">This diagram represents one of the types of flow diagrams, in which the reason of road
                                accident serves as a flow, and the line width of the observed flow depends on the kinds
                                of statistics for this reason. Year periods, regions of the Russian Federation
                                and observed kind of statistics (number of victims, the number of injuries, the death toll,
                                the number of road accidents) are parameters for the visualization of this chart.
                            </p>
                            <p><a href="/sankey_chart" class="btn btn-primary" role="button">Go to construction</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/pie_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Pie chart of road accident reasons</h3>
                            <p style="font-size: 10pt;">This diagram shows the percentages between various reasons of road accidents in
                                the regions of Russian Federation with ability to specify the year period and observed kinds of
                                statistics (number of victims, the number of injuries, the death toll, the number of road accidents).
                            </p>
                            <p><a href="/pie_chart" class="btn btn-primary" role="button">Go to construction</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{% static 'RoadAccidentStatistics/img/bubble_chart.png' %}" style="height: 300px"/>
                        <div class="caption">
                            <h3>Bubble chart or relative road accident statistics</h3>
                            <p style="font-size: 10pt;">This chart shows the ratio between the number of road accidents, number of victims
                                and the population and represents a two-dimensional graph where
                                the horizontal axis shows the number of accidents on the scale of 10,000 units of vehicles,
                                the ordinate axis shows the number of victims per 100,000 people in the region,
                                and the circle with the name
                                of region serves as a point on the graph, where circle radius is proportional to the
                                population of the region. Circles have a different colors and mark statistics of different
                                years.
                                Year periods and regions of the Russian Federation are parameters for the visualization of this chart.
                            </p>
                            <p><a href="/bubble_chart" class="btn btn-primary" role="button">Go to construction</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}