{% extends 'charts/chart_with_form.html' %}
{% block params %}
<form class="form-horizontal">
    <fieldset>
        {% include 'region_and_period.html' %}
        <div class="form-group">
            <label class="col-md-4 control-label" for="showButton"></label>
            <div class="col-md-4">
                <button id="showButton" class="btn btn-primary ladda-button" data-style="zoom-out" onclick="callShow()">
                    <span class="ladda-label">Show</span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        function getURL() {
            return "regions/" + getSelectedRegions() + "/from_year/" + $("#fromYear").val() +
                    "/to_year/" + $("#toYear").val();
        }
        function callShow() {
            show(function(data) {
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('string', 'От');
                dataTable.addColumn('string', 'К');
                dataTable.addColumn('number', 'Количество ДТП');
                dataTable.addRows(data.chart_data);
                chart = drawWithParameters(chart, 'chart', 'sankey', dataTable);
                $("#url").text(getFullURL(getURL()));
                var infoData = [];
                for (var i = 0; i < data.chart_data.length; i++) {
                    if(data.chart_data[i][2] > 0){
                        infoData[infoData.length] = data.chart_data[i];
                    }
                }
                var infoDataTable = new google.visualization.DataTable();
                infoDataTable.addColumn('string', 'От');
                infoDataTable.addColumn('string', 'К');
                infoDataTable.addColumn('number', 'Количество ДТП');
                infoDataTable.addRows(infoData);
                info = drawTable(info, 'info', infoDataTable);
            })
        }
    </script>
{% endblock %}
